body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  margin: 0%;
}

h2 {
  text-align: center;
}

.first-row {
  display: grid;
  grid-template-columns: 35% 30%;
  column-gap: 2rem;
  height: 40%;
}

#choroplot {
  height: min-content;
  grid-column: 1/2;
}

#scatterPlot {
  grid-column: 3/4;
}

#cleveland-dot-plot {
  /*grid-area: 1 / 3/last-line/last-line ;*/
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  margin-top: 0;
}

div {
  width: 100%;
  float: left;
}

.grid {
  display: grid;
  /*grid-template-columns:1fr 1fr;*/
}
.plots {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  height: 80%;
}
.second-row {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 40%;
}

/*
.header > div{
  padding: 1em;
}
*/

.header {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 0;
  height: 20%;
}

.options {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  /*grid-column-gap: 3em;
  margin-bottom: -3;*/
}

/*
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.options{
  display: flex;

  flex-direction: row;
  width: 100%;
  height: 100%;
}

#options{
  display: flex;
  flex-direction: row;
}

#header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#selected_country label {
  display: flex;
  flex-direction:row ;
  width: 100%;
  background-color: aqua;

}


#options > #selected_country {
  display:flex;
  justify-content: space-evenly;
}
*/
