
.tooltip {
  width: max-content;
  height: min-content;
  position: absolute;
  font-size: 10px;
}
.labelsBox {
  width: max-content;
  height: max-content;
  position:absolute;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0%;
}
p{
  padding-right: 4px;
  margin: 0%;
}
#scatterCountry2{
  margin-top: -4%;
}


html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #e6faff;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-style: none none solid none;
  background-color: #0c549c;
  color: white;
}

.title-1 {
  font-size: 30px;
}

.drop-down-pair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.drop-down-menu {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
}

.drop-down-element {
  font-size: 15px;
  background-color: #e6faff;
}

.graphs {
  display: flex;
  justify-content: space-evenly;
}

.column-1 {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  align-items: center;
  margin-left: -170px;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -110px;
}

.header-lineChart {
  margin-bottom: -30px;
}

.graph-header {
  text-align: center;
  font-size: 18px;
  margin-bottom: -5px;
}

.header-barChart {
  margin-top: 50px;
  margin-bottom: -10px;
}

#clevelandPlot {
  height: 720px;
}

#barChart {
  height: 320px;
  align-items: center;
  margin-left: 60px;
  margin-top: -28px;
}

#lineChart1 {
  margin-left: -30px;
  margin-top: -60px;
}

#lineChart2 {
  margin-top: -60px;
}

#headerLineChart1 {
  margin-bottom: 15px;
}
#headerLineChart2 {
  margin-bottom: 15px;
}
