/* body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
/* h1 {
  margin: 0%;
}

h2 {
  text-align: center;
  margin-bottom: -40px;
}
h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: -10px;
} */

.tooltip {
  width: max-content;
  height: min-content;
  position: absolute;
}

/* .first-row {
  display: grid; */
/* grid-template-columns: 25% 30%; */
/* grid-template-columns: 3fr 2fr;
  column-gap: 2rem;
  height: 40%;
} */

/* #choropleth {
  height: min-content;
  grid-column: 1/2;
} */

/* #scatterPlot {
  grid-column: 3/4;
} */

/* #cleveland-dot-plot { */
/*grid-area: 1 / 3/last-line/last-line ;*/
/* grid-column: 3 / 4;
  grid-row: 1 / 3;
  margin-top: 0;
} */

/* div {
  width: 100%;
  float: left;
} */

/* .grid {
  display: grid;
  /*grid-template-columns:1fr 1fr;*/
/*} */
/* .plots {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  /* height: 80%; */
/*} */
/* .second-row {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  /* height: 40%; */
/*} */

/*
.header > div{
  padding: 1em;
}
*/

/* .header {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 7px;
  height: 20%;
} */

/* .options {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  /*grid-column-gap: 3em;
  margin-bottom: -3;*/
/*} */

/* #headerBarChart {
  margin-bottom: -20px;
}

#lineChart {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: -20px;
} */
/* 
#headerLineChart1 {
  margin-bottom: -70px;
}
#headerLineChart2 {
  margin-bottom: -70px;
} */

/*
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.options{
  display: flex;

  flex-direction: row;
  width: 100%;
  height: 100%;
}

#options{
  display: flex;
  flex-direction: row;
}

#header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#selected_country label {
  display: flex;
  flex-direction:row ;
  width: 100%;
  background-color: aqua;

}


#options > #selected_country {
  display:flex;
  justify-content: space-evenly;
}
*/

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.title-1 {
  font-size: 40px;
}

.drop-down-pair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.drop-down-menu {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 22px;
}

.drop-down-element {
  font-size: 20px;
}

.graphs {
  display: flex;
  justify-content: space-evenly;
}

.column-1 {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
